.qualification-container{
    max-width: 768px;
}
.qualification-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.qualification-button{
    @apply text-xl;
    @apply font-medium;
    @apply text-title;
    margin: 0 1rem;
    cursor: pointer;
}

.qualification-button:hover{
    @apply text-dark-title;
}
.qualification-icon{
    font-size: 1.8rem;
    margin-right: 0.25rem;
}
.qualification-active{
    @apply text-dark-title;
}
.qualification-sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}
.qualification-content{
    display: none;
}
.qualification-content-active{
    display: block;
}
.qualification-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualification-title{
    @apply text-sm;
   @apply font-medium;
}
.qualification-subtitle{
    display: inline-block;
    @apply text-xs;
    margin-bottom: 1rem;
}

.qualification-calendar{
    @apply text-xs;
}
.qualification-rounder{
    display: inline-block;
    width: 10px;
    height: 10px;
    @apply bg-p;
    border-radius: 50%;
}
.qualification-line{
    display: block;
    width: 1px;
    height: 100%;
    @apply bg-p;
    transform: translate(5px,-7px);
}
@media (max-width:992px){
    .qualification-container{
        margin: 0 auto;
    }
    .qualification-line{
        transform: translate(4px,-8px)
    }
}
@media(max-width:768px){
    .qualification-title{
        @apply text-xs;
    }
    .qualification-container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

}
@media(max-width:576px){
   .qualification-sections{
    grid-template-columns: initial;
   }
   .qualification-data{
    margin-left: 1rem;
}
    .qualification-button{
        margin: 0 0.75rem;
    }
}
@media(max-width:350px){
   .qualification-data{
    gap: 0.5rem;
   }
}