.about-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about-img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-info{
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.about-box{
    @apply bg-container;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.about-icon{
    font-size: 1.5rem;
    @apply text-title;
    margin-bottom: 0.5rem;
}
.about-title{
    @apply text-sm;
    @apply font-medium;
}
.about-subtitle{
    @apply text-xs;
}

.about-description{
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;

}

@media (max-width:992px){
    .about-container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about-img{
        width: 220px;
    }
    .about-box{
        padding: 0.75rem 0.5rem;
    }
    .about-data{
        text-align: center;
        margin-left:20px ;
    }
    .about-info{
        justify-content: center;
    }
    .about-description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}
@media (max-width:576px){
    .about-info{
        grid-template-columns: repeat(3,1fr);
        margin-right: 1rem;
    }
    .about-description{
        padding: 0;
    }
}

@media (max-width:350px){
    .about-info{
        grid-template-columns: repeat(1,1fr);
    }

}